doctype html 
html(lang="ru")
    head 
        include modules/head
    body 
        include modules/header
        include modules/offer 
        include modules/services
        include modules/portfolio 
        include modules/plus  
        include modules/price
        include modules/form
        include modules/footer
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> 
    <script src="../js/main.js"></script> 