block form
    .form.setction-desctop  
        .container 
            h2.form-title.section-title отправите нам письмо
            .form-inner 
                .form-left 
                    
                .form-right