block offer
    .offer(style="background-image: url(../../img/offer/bg.jpg);") 
        .container 
            h1.section-title.offer-title Создание сайтов 
                span.title-reg по доступной цене
            p.subtitle 
                span Поможем создать сайт под ключ.
                span Разработаем сайт-визитку, лендинг, каталог, интернет-магазин 
                span Адаптируем сайт под мобильные устройства.
            button.btn.offer-btn Связаться