block portfolio
    .portfolio.setction-desctop
        .container   
            h2.section-title.portfolio-title Портфолио верстальщика
            .portfolio-inner
                .portfolio-top 
                    h4.portfolio-item-title Как мы верстаем сайт
                    p.portfolio-top__text Вы можете рассмотреть портфолио верстальщика сайты, лендингы. Примеры html верстки. Представленые работы валидны, кроссбраузерны, с высокими показателями оптимизации page speed.
                    p.portfolio-item-title Технологический процесс создания коркаса html:
                    ul.portfolio-top__list
                        li.portfolio-top__item  Семантичная разметка html структуры и css таблиц;
                        li.portfolio-top__item Написание чистого кода, минимум js библиотек;
                        li.portfolio-top__item Проверка Pixel perfect на соответствие дизайну;
                        li.portfolio-top__item Оптимизация страниц до зелёной зоны в google page speed.
                    p.portfolio-top__text Поможем сверстать сайт-визитку, лендинг, интернет-магазин, портал, социальную сеть, любой многостраничный сайт. Наши заказчики очень требовательны к качеству, мы всегда тщательно тестируем работу.
                .portfolio-bottom
                    .portfolio-bottom__list  
                        h4.portfolio-item-title лендинги 
                        .swiper.portfolio-lend
                            .swiper-wrapper
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                        .swiper-arrows
                            .swiper-button-prev.lend-prev
                            .swiper-button-next.lend-next
                    .portfolio-bottom__list  
                        h4.portfolio-item-title интернет магазины
                        .swiper.portfolio-shop
                            .swiper-wrapper
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                        .swiper-arrows
                            .swiper-button-prev.shop-prev
                            .swiper-button-next.shop-next
                    .portfolio-bottom__list  
                        h4.portfolio-item-title корпоративные сайты
                        .swiper.portfolio-corp
                            .swiper-wrapper
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                                .swiper-slide
                                    .portfolio-slide    
                                        img(src="../../img/portfolio/1.png", alt="")
                        .swiper-arrows
                            .swiper-button-prev.corporat-prev
                            .swiper-button-next.corporat-next
            
                


