block price
    .price.setction-desctop  
        .container 
            h2.price-title.section-title Цена вёрстки сайта
            p.price-subtitle 
                |Самый быстрый и простой вариант узнать стоимость и сроки верстки — 
                a.price-subtitle-link(href="#") прислать макеты нам на оценку. 
                |В таблице указана средняя за одну страницу и может быть как в большую, так и в меньшую сторону, в зависимости от вашей задачи. 
            table 
                tbody 
                    tr 
                        th.left вид
                        th цена
                    tr 
                        td.left лендинг
                        td 10000р
                    tr
                        td.left магазин woocommerce
                        td от 40000р
                    tr
                        td.left многостраничный сайт
                        td от 30000р
            .price-bottom
                p.title.section-title Из чего складывается верстка??????
                .price-bottom-inner 
                    .price-bottom-item 
                        .price-bottom-item-img 
                            img(src="../../img/price/item1.jpg", alt="")
                        h3.price-bottom-item-title Макет дизайна
                        p.price-bottom-item-text Для первичной оценки подойдет любой графический формат, например JPEG, PNG, TIFF, но для созданий верстки сайта принципиально важно иметь исходные файлы дизайна в форматах программ: Photoshop или Sketch. 
                    .price-bottom-item 
                        .price-bottom-item-img 
                            img(src="../../img/price/item2.gif", alt="")
                        h3.price-bottom-item-title Анимация
                        p.price-bottom-item-text Сложная анимация может стоимость больше чем верстка всего проекта.
                    .price-bottom-item 
                        .price-bottom-item-img 
                            img(src="../../img/price/item3.webp", alt="")
                        h3.price-bottom-item-title Количество уникальных страниц, элементов.
                        p.price-bottom-item-text Стоимость верстки сильно зависит не только от количества страниц, но и количества уникальных тексто-графических элементов. Когда заказчики спрашивают сколько стоит верстка одной страницы мы показываем им один из самых интересных сайтов в интернете (сайт актера Джима Керри), выполненного в виде одной страницы: