block services
    .services.setction-desctop 
        .container 
            h2.section-title УСлуги которые мы предоставляем
            .services-inner 
                .services-box 
                    .services-box__img 
                        img(src="../../img/services/01.jpg", alt="")
                    .services-box__info 
                        .services-box__title.fat Разработка сайтов
                        .services-box__text Есть мнение, что разработка сайта с использованием Lorem Ipsum лишь замедляет работу над подходящим текстом. Вебмастера пользуются «рыбой», чтобы отложить создание контента и наполнение сайта на потом. 
                .services-box 
                    .services-box__img 
                        img(src="../../img/services/02.jpg", alt="")
                    .services-box__info 
                        .services-box__title.fat Техническая поддержка
                        .services-box__text Есть мнение, что разработка сайта с использованием Lorem Ipsum лишь замедляет работу над подходящим текстом. Вебмастера пользуются «рыбой», чтобы отложить создание контента и наполнение сайта на потом. 
                .services-box 
                    .services-box__img 
                        img(src="../../img/services/03.jpg", alt="")
                    .services-box__info 
                        .services-box__title.fat Коппирайтинг
                        .services-box__text Есть мнение, что разработка сайта с использованием Lorem Ipsum лишь замедляет работу над подходящим текстом. Вебмастера пользуются «рыбой», чтобы отложить создание контента и наполнение сайта на потом. 
            .services-bottom
                h3.services-bottom__title Получите бесплатную консультацию
                form.services-form(action="")
                    .services-form__line 
                        input.inp(type="text" name="name" placeholder="имя")
                    .services-form__line 
                        input.inp(type="number" name="phone" placeholder="телефон")
                    .services-form__line 
                        input.inp(type="mail" name="email" placeholder="Email")
                    button.btn.services-form__btn получить